.root_wrraper {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  border-bottom: 1px solid #c8c4c4;
  padding-bottom: 15px;
}
.root_wrraper:last-child {
  border: none;
}

.root-images {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
}

.root-images img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.root-names {
  width: 60%;
}

.root-names h5 {
  font-family: var(--primary-font);
  color: var(--black);
  font-size: 15px;
  font-weight: 600;
}
