* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ol,
ul {
  list-style-type: none;
}

:root {
  --title-color: #11175d;
  --black: #000000;
  --primary-color: #5f35f5;
  --secondary-color: #03014c;
  --red-orange: #ea6c00;
  --error: #cd0404;
  --primary-font: "Poppins", sans-serif;
  --secondary-font: "Open Sans", sans-serif;
  --rare-font: "Nunito", sans-serif;
}

.box {
  align-items: center !important;
  height: 100vh;
}

.input-design {
  width: 60%;
  margin-bottom: 15px !important;
}

.button {
  width: 60% !important;
  padding: 10px 10px !important;
  border-radius: 50px !important;
}

.errors {
  color: var(--error);
  padding-bottom: 15px;
}
